@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure smooth transition for background color */
.loading-screen {
  transition: background-color 0.5s ease-in-out, opacity 0.3s ease-out; /* Smooth fade effect */
}

/* Shortened bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust this value for height */
  }
}

.animate-bounce {
  animation: bounce 0.5s ease-out; /* Reduced bounce duration */
}



@layer base {
  :root {
    --background: 0 0% 100%; /* Light mode background */
    --foreground: 222.2 84% 4.9%; /* Light mode text */
    
    /* Light mode */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  }

  /* Dark mode */
  .dark {
    --background: 222.2 84% 4.9%; /* Dark mode background */
    --foreground: 210 40% 98%; /* Dark mode text */
    
    /* Dark mode */
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  }
}
